.bg--primary {
  background-color: #4951E5; }

.bg--secundary {
  background-color: #27E0FC; }

.bg--dark {
  background-color: #1A1A1A; }

.bg--image {
  background-image: url(../assets/img/background.png); }

.font--color--primary {
  color: #4951E5; }

.font--color--secundary {
  color: #27E0FC; }

.font--color--dark {
  color: #1A1A1A; }

.font--gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(310deg, #4951E5, #27E0FC); }

.card--box {
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(73, 84, 229, 0.1);
  border-radius: 12px;
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
  transition: all 0.5s; }
  .card--box:hover {
    transform: scale(1.03); }

.size--input, .newsletter__form, .newsletter__form--name, .newsletter__form--mail, .contact__form, .contact__form--message, .btn--primary, .btn--secundary {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  transition: all 0.5s; }

.newsletter__form, .newsletter__form--name, .newsletter__form--mail {
  padding: 20px 25px 20px 55px;
  color: rgba(255, 255, 255, 0.5);
  border: none; }

.newsletter__form--name {
  background: url(../assets/img/name-icon.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
  background-size: 24px, auto; }

.newsletter__form--mail {
  background: url(../assets/img/email-icon.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
  background-size: 24px, auto; }

.contact__form, .contact__form--message {
  background-color: none;
  color: black;
  border: 2px solid #4951E5;
  box-sizing: border-box; }
  .contact__form:hover, .contact__form--message:hover {
    border: 3px solid #4951E5; }

.contact__form--message {
  height: 360px; }

label {
  width: 100%; }

.btn--primary {
  background-color: #4951E5;
  color: white;
  border: none; }
  .btn--primary:hover {
    transform: scale(1.04);
    background-color: #263086; }

.btn--secundary {
  background-color: none;
  color: #4951E5;
  border: none; }
  .btn--secundary:hover {
    transform: scale(1.04);
    background-color: #D9DDFF; }

.bg--gradient--blue {
  background-image: linear-gradient(#B2D9FD 0%, #FFFF 30%); }

.bg--gradient--green {
  background-image: linear-gradient(#D9F2DF 0%, #FFFF 30%); }

.bg--gradient--violet {
  background-image: linear-gradient(#E4D4F0 0%, #FFFF 30%); }

.bg--gradient--pink {
  background-image: linear-gradient(#FFCCF4 0%, #FFFF 30%); }

.bg--gradient--red {
  background-image: linear-gradient(#F7CCCC 0%, #FFFF 30%); }

.bg--gradient--yellow {
  background-image: linear-gradient(#FCEAD7 0%, #FFFF 30%); }

.logo {
  width: 100%;
  transition: all 0.5s; }
  .logo:hover {
    transform: scale(1.1); }

.logo-footer {
  height: 35%;
  transition: all 0.5s; }
  .logo-footer:hover {
    transform: scale(1.1); }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  border: none; }

.nav-link {
  padding-left: 0px; }
  .nav-link:hover {
    color: font--color--primary; }

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px; }

.flex {
  display: flex;
  flex-direction: column;
  align-items: center; }

.index__cover {
  margin-top: 80px;
  height: 850px;
  background-image: url("../assets/img/background.png"); }

.testimony__card--box {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center; }

.grid {
  display: grid;
  grid-template-columns: auto;
  width: 800px;
  justify-content: center; }

/*.carousel-item{
	float: none;
	margin-right: auto;
	transition: auto;
}*/
.servicios__img--size {
  transform: scale(2.5); }

.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.page__cover {
  background: linear-gradient(#4B54DD 0%, rgba(39, 224, 252, 0.3) 58.31%, rgba(39, 224, 252, 0) 100%); }

.servicios__height {
  height: 850px; }

.planes__background {
  background: linear-gradient(188.2deg, #2A2689 6.3%, #3484CE 57.28%, #8E2CBF 93.69%, #8E2CBF 93.7%);
  height: 100%; }

.cover__size {
  background: none;
  height: 850px; }

.cover__container--padding {
  padding-top: 100px; }

.planes__card {
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.star--position {
  position: relative;
  top: -11px; }

.img__size {
  width: 100%; }

.nosotros__shape--gradient {
  background: linear-gradient(180deg, #D8DAFC 0%, rgba(216, 218, 252, 0) 100%); }

.subtitle__text--size {
  font-size: 50px;
  font-weight: 600; }

.nosotros__shape {
  background-image: url(../assets/img/nosotros_shape.svg);
  padding-top: 300px;
  height: 600px; }

.team__text {
  font-size: 20px; }

@media only screen and (max-width: 540px) {
  .container {
    width: 90%; } }

@media only screen and (max-width: 992px) {
  .logo {
    width: 80%; }
  .py-md-10 {
    padding-top: 10rem;
    padding-bottom: 10rem; } }
