.flex, .testimony__card--box, .planes__card--box, .index__cover, .servicios__cover, .contacto__cover, .planes__cover, .planes__card--list, .nosotros__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.bg--primary {
  background-color: #4951E5; }

.bg--secundary {
  background-color: #27E0FC; }

.bg--dark {
  background-color: #1A1A1A; }

.bg--image {
  background-image: url(../assets/img/background.png);
  background-size: cover; }

.font--color--primary {
  color: #4951E5; }

.font--color--secundary {
  color: #27E0FC; }

.font--color--dark {
  color: #1A1A1A; }

.font--gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #4951E5, #27E0FC); }

.font--opacity {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s; }
  .font--opacity:hover {
    color: white; }

.card--box {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #1A1A1A;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(73, 84, 229, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.5s; }
  .card--box:hover {
    transform: scale(1.03); }

.testimony__card--box {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 18px;
  box-shadow: none; }

.planes__card--box {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 18px;
  box-shadow: none;
  justify-content: flex-start;
  transition: all 0.5s; }
  .planes__card--box:hover {
    transform: scale(1.05); }

.size--input, .newsletter__form, .newsletter__form--name, .newsletter__form--mail, .contacto__form, .contacto__form--message, .btn--primary, .btn--secundary {
  width: 100%;
  height: 50px;
  border-radius: 9px;
  transition: all 0.5s; }

.newsletter__form, .newsletter__form--name, .newsletter__form--mail {
  padding: 20px 25px 20px 55px;
  color: rgba(255, 255, 255, 0.5);
  border: none; }
  .newsletter__form:hover, .newsletter__form--name:hover, .newsletter__form--mail:hover {
    background-color: rgba(255, 255, 255, 0.02); }

.newsletter__form--name {
  background: url(../assets/img/name-icon.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
  background-size: 24px, auto; }

.newsletter__form--mail {
  background: url(../assets/img/email-icon.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
  background-size: 24px, auto; }

.contacto__form, .contacto__form--message {
  background-color: none;
  color: black;
  border: 2px solid #4951E5;
  box-sizing: border-box; }
  .contacto__form:hover, .contacto__form--message:hover {
    border: 3px solid #4951E5; }

.contacto__form--message {
  height: 360px; }

label {
  width: 100%; }

.btn--primary {
  background-color: #4951E5;
  color: white;
  border: none; }
  .btn--primary:hover {
    transform: scale(1.04);
    background-color: #263086; }

.btn--secundary {
  background-color: none;
  color: #4951E5;
  border: none; }
  .btn--secundary:hover {
    transform: scale(1.04);
    background-color: #D9DDFF; }

.bg--gradient--blue {
  background-image: linear-gradient(#B2D9FD 0%, #FFFF 30%); }

.bg--gradient--green {
  background-image: linear-gradient(#D9F2DF 0%, #FFFF 30%); }

.bg--gradient--violet {
  background-image: linear-gradient(#E4D4F0 0%, #FFFF 30%); }

.bg--gradient--pink {
  background-image: linear-gradient(#FFCCF4 0%, #FFFF 30%); }

.bg--gradient--red {
  background-image: linear-gradient(#F7CCCC 0%, #FFFF 30%); }

.bg--gradient--yellow {
  background-image: linear-gradient(#FCEAD7 0%, #FFFF 30%); }

.logo {
  width: 100%;
  transition: all 0.5s; }
  .logo:hover {
    transform: scale(1.1); }

.logo-footer {
  height: 35%;
  transition: all 0.5s; }
  .logo-footer:hover {
    transform: scale(1.1); }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  border: none; }

.nav-link {
  padding-left: 0px; }
  .nav-link:hover {
    color: font--color--primary; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  color: #1A1A1A; }

.display-1 {
  font-weight: 600; }

h3 {
  font-weight: 600; }

.opacity {
  opacity: 0.5;
  transition: all 0.5s; }
  .opacity:hover {
    opacity: 1; }

.index__cover {
  background-image: url("../assets/img/background.png");
  background-size: cover; }

.index__description--bg {
  background-image: linear-gradient(110deg, #4951E5, #27E0FC); }

.servicios__cover, .contacto__cover {
  background: linear-gradient(#4B54DD 0%, rgba(39, 224, 252, 0.3) 58.31%, rgba(39, 224, 252, 0) 100%); }

.planes__background {
  background: linear-gradient(188.2deg, #2A2689 6.3%, #3484CE 57.28%, #8E2CBF 93.69%, #8E2CBF 93.7%);
  height: 100%; }

.star--position {
  position: relative;
  top: -11px; }

.font--price {
  font-size: 3.2rem;
  font-weight: 600; }

.text--box {
  padding: 2px 50px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 3rem; }

.planes__card--list {
  justify-content: flex-start;
  height: 22rem; }

.list--text {
  background: url(../assets/img/icon_check.svg) 0px center no-repeat;
  background-size: 12px, auto;
  padding: 0.8rem 0 0.9rem 1.6rem;
  text-align: center; }

.nosotros__cover {
  background: url(../assets/img/nosotros_shape.svg) bottom no-repeat;
  background-size: contain; }

.nosotros__gradient {
  background: linear-gradient(180deg, #D8DAFC 0%, rgba(216, 218, 252, 0) 100%); }

.subtitle--size {
  font-size: 50px;
  font-weight: 600; }

.team__text {
  font-size: 20px; }

@media only screen and (max-width: 540px) {
  .container {
    width: 90%; } }

@media only screen and (max-width: 992px) {
  .logo {
    width: 80%; }
  .planes__card--list {
    height: auto; } }
