@mixin size($width, $height){
	width: $width;
	height: $height;
}

@mixin bg-c-b($background, $color, $border){
	background-color: $background;
	color: $color;
	border: $border;
}


// BACKGROUNDS ------------------------------------------------------------------------------------

@each $bg, $color in $colors{
	.bg--#{$bg}{
		background-color: $color;
	}
}

.bg--image{
	background-image: url(../assets/img/background.png);
	background-size:cover;
}


// FONTS -----------------------------------------------------------------------------------------

@each $font, $color in $colors{
	.font--color--#{$font}{
		color: $color;
	}
}

.font--gradient{
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-image: linear-gradient(90deg,$primary--color,$secundary--color)
}

// CARDS -----------------------------------------------------------------------------------

.card--box{
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(73, 84, 229, 0.1);
	border-radius: 12px;
	color: $dark--color;
	display: flex;
	flex-direction: column;
	transition: all 0.5s;
	&:hover{
		transform: scale(1.03);
	}
}


// FORMS ------------------------------------------------------------------------------------

.size--input{
	@include size(100%, 50px);
	border-radius: 6px;
	transition: all 0.5s;
}

.newsletter__form{
    @extend .size--input;
    padding: 20px 25px 20px 55px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
}


.newsletter__form--name{
	@extend .newsletter__form;
	background: url(../assets/img/name-icon.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
    background-size: 24px, auto;
}

.newsletter__form--mail{
	@extend .newsletter__form;
	background: url(../assets/img/email-icon.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
    background-size: 24px, auto;
}

.contact__form{
    @extend .size--input;
    @include bg-c-b(none, black, 2px solid $primary--color);
    box-sizing: border-box;
	&:hover{
		border: 3px solid $primary--color;
	}
}


.contact__form--message{
	@extend .contact__form;
    height: 360px;
}


label{
	width: 100%;
}




// BUTTONS ---------------------------------------------------------------------------------------

.btn--primary{
	@extend .size--input;
	@include bg-c-b($primary--color, white, none);
	&:hover{
		transform: scale(1.04);
		background-color: #263086;
	}
}


.btn--secundary{
	@extend .size--input;
	@include bg-c-b(none, $primary--color, none);
	&:hover{
		transform: scale(1.04);
		background-color: #D9DDFF;
	}
}


//GRADIENTS ------------------------------------------------------------------------------------

//MAP
$gradients:(
	blue: #B2D9FD,
	green: #D9F2DF,
	violet: #E4D4F0,
	pink: #FFCCF4,
	red: #F7CCCC,
	yellow: #FCEAD7,
);

@each $gradient, $color in $gradients {
	.bg--gradient--#{$gradient}{
		background-image: linear-gradient($color 0%, #FFFF 30%);
	}
}

