// COLORS

$primary--color: #4951E5;
$secundary--color: #27E0FC;
$dark--color: #1A1A1A;

$colors:(
	primary: $primary--color,
	secundary: $secundary--color,
	dark: $dark--color
);



// MARGINS PARA PÁGINA DE SERVICIOS

.margins{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

$margins:(
	576px: 540px,
	768px: 720px,
	992px: 960px,
	1200px: 1140px,
	1400px: 1320px,
);

@each $screen, $size in $margins {
	@media (min-width: $screen){
	.margins{
		width: 100%;
		max-width: $size;
	}
	}
}